<?xml version="1.0" encoding="utf-8"?>
<manifest package="at.favre.app.hood.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- this is just for testing purpose - the app needs none of these permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- this is just for testing purpose - the app needs none of these features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="at.favre.app.hood.demo.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="at.favre.app.hood.demo.MoreActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="at.favre.app.hood.demo.DebugDrawerActivity"
            android:label="Drawer Debug View"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="at.favre.app.hood.demo.DebugDarkActivity"
            android:exported="true"
            android:label="Dark Debug View"
            android:theme="@style/HoodThemeDark"/>
        <activity
            android:name="at.favre.app.hood.demo.DebugDarkBackgroundValuesActivity"
            android:exported="true"
            android:label="Dark Debug Background Tasks View"
            android:theme="@style/CustomHoodThemeLight2"/>
        <activity
            android:name="at.favre.app.hood.demo.DebugDarkMultiPageActivity"
            android:exported="true"
            android:label="Dark Multi Page Debug View"
            android:theme="@style/HoodThemeDark"/>
        <activity
            android:name="at.favre.app.hood.demo.DebugPerformanceTestActivity"
            android:exported="true"
            android:label="Light Performance View"
            android:theme="@style/CustomHoodThemeLight3"/>
        <activity
            android:name="at.favre.app.hood.demo.DebugCustomThemeActivity"
            android:exported="true"
            android:label="Custom Theme View"
            android:theme="@style/CustomHoodThemeLightStandalone"/>
        <activity
            android:name="at.favre.app.hood.demo.DebugLightActivity"
            android:label="Light Debug View"
            android:theme="@style/CustomHoodThemeLight"/>
    </application>
</manifest>